<!DOCTYPE html>
{% load static %}
	<html lang="en">
	<head>
		<title>Book Store</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="author" content="">
	    <meta name="keywords" content="">
	    <meta name="description" content="">

	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/normalize.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/icomoon/icomoon.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/vendor.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/style.css">

		<!-- script
		================================================== -->
		<script src="{% get_static_prefix %}Home/js/modernizr.js"></script>

	</head>


<body>
	{% include 'header.html'%}

<div class="site-banner">
	<div class="banner-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">			
					<div class="colored">
						<h1 class="page-title">About Us</h1>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div><!--site-banner-->

<section class="chief-detail padding-large">
	<div class="container">
		<div class="row">
			<div class="single-image col-md-12">
				<p>
					Welcome to our E-library! We are a dedicated team of book lovers, researchers, and technology enthusiasts who believe in the power of knowledge and the joy of reading. Our mission is to provide a seamless and enriching digital library experience to readers of all ages and backgrounds.


At our E-library, we envision a world where access to information is democratized, and the joy of reading is celebrated. We aim to break down barriers to education and intellectual growth by making a vast collection of resources readily available to anyone with an internet connection.


We take great pride in curating a comprehensive collection of digital resources that spans a wide range of subjects and genres. Our team meticulously selects books, articles, journals, and research papers to ensure that our library caters to the diverse interests and needs of our readers. From timeless classics to the latest scientific discoveries, we strive to provide a collection that inspires, educates, and entertains.

</p><pk>
We understand the importance of simplicity and accessibility when it comes to navigating a digital library. That's why we have designed an intuitive and user-friendly interface that allows you to search, browse, and discover with ease. Our powerful search engine, advanced filters, and personalized recommendations help you find the information you need quickly and effortlessly.


Gone are the days of waiting in line or dealing with due dates. Our E-library allows you to access and borrow books digitally, eliminating the hassle of physical copies. Whether you're studying at home, traveling, or simply relaxing on your couch, you can enjoy your favorite books on your preferred device. We offer seamless compatibility across computers, tablets, and smartphones, so you can read anytime, anywhere.


We believe that reading is not just a solitary activity; it's an opportunity to connect with fellow readers and experts. Our E-library provides a vibrant online community where you can participate in book clubs, join discussion forums, and attend virtual events. Engage in meaningful conversations, share your thoughts, and learn from others who share your passion for literature and learning.


				</p>
				
				
			</div>
		</div>
	</div>
</section>


<section class="padding-large">
	<div class="container">
		<h2 class="section-title text-center mt-5">Our Mission</h2>
		<div class="row">
			<div class="col-md-12">
				<img src="{% get_static_prefix %}Home/images/post-img3.jpg" alt="book-authors" class="align-right">
				<p>
					
We are committed to continually expanding our collection and embracing new technologies to enhance your reading experience. Our team stays up-to-date with the latest releases, trends, and research to ensure that our E-library remains a dynamic and relevant resource for our valued readers.

Embark on an enriching journey of reading, learning, and exploration by joining our E-library community today. Access a world of knowledge at your fingertips and unlock the limitless possibilities that come with it. We look forward to being a part of your reading adventures!

If you have any questions or need assistance, please don't hesitate to reach out to our friendly support team. Happy reading!
				</p>
			
			</div>

		</div>
	</div>
</section>


<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="copyright">
					<div class="row">

						<div class="col-md-6">
							<p>© 2023 All rights reserved. ClearText by <a href="https://github.com/Issahgordon/" target="_blank">Issahgordon</a></p>
						</div>

						<div class="col-md-6">
							<div class="social-links align-right">
								<ul>
									<li>
										<a href="#"><i class="icon icon-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-youtube-play"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-behance-square"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div><!--grid-->

			</div><!--footer-bottom-content-->
		</div>
	</div>
</div>

<script src="{% get_static_prefix %}Home/js/jquery-1.11.0.min.js"></script>
<script src="{% get_static_prefix %}Home/js/plugins.js"></script>
<script src="{% get_static_prefix %}Home/js/script.js"></script>

</body>
</html>	