<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
		{% load static %}
		<title>Architecture Portfolio</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="author" content="">
	    <meta name="keywords" content="">
	    <meta name="description" content="">

		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/normalize.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/icomoon/icomoon.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/vendor.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/style.css">

		<!-- script
		================================================== -->
		<script src="{% get_static_prefix %}Home/js/modernizr.js"></script>
	</head>

<body>

	{% include 'header.html'%}


<section>
	<div class="container">
		<div class="row">
			<div class="col-md-12">			
				<h1 class="page-title">Oops Server Error</h1>
				<p>We encounted an error</p>
			</div>
		</div>
	</div>

</section>





<script src="{% get_static_prefix %}Home/js/jquery-1.11.0.min.js"></script>
<script src="{% get_static_prefix %}Home/js/plugins.js"></script>
<script src="{% get_static_prefix %}Home/js/script.js"></script>

</body>
</html>	