<!DOCTYPE html>
{% load static %}
	<html lang="en">
	<head>
		<title>Book Store</title>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="author" content="">
	    <meta name="keywords" content="">
	    <meta name="description" content="">

	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/normalize.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/icomoon/icomoon.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/css/vendor.css">
	    <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}Home/style.css">

		<!-- script
		================================================== -->
		<script src="{% get_static_prefix %}Home/js/modernizr.js"></script>

	</head>

<body>

	{% include 'header.html'%}


<section class="bg-sand padding-large">
	<div class="container">
		<div class="row">

			<div class="col-md-6">
				<a href="#" class="product-image"><img src="{% get_media_prefix %}Covers/{{Book.id}}.jpg"></a>
			</div>

			<div class="col-md-6 pl-5">
				<div class="product-detail">
					<h1>{{Book.Name}}</h1>
					<p>{{Book.Category}}</p>
					<span class="price colored">Rating: {{Book.Rate}}</span>

					<p>
						{{Book.About}}
					</p>
					

					<a href="{% get_media_prefix %}Books/{{Book.id}}.pdf"><button type="button" name="add-to-cart" value="27545" class="button">Download Book</button></a>
					
				</div>
			</div>

		</div>
	</div>
</section>


<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="copyright">
					<div class="row">

						<div class="col-md-6">
							<p>© 2023 All rights reserved. ClearText by <a href="https://www.templatesjungle.com/" target="_blank">Issahgordon</a></p>
						</div>

						<div class="col-md-6">
							<div class="social-links align-right">
								<ul>
									<li>
										<a href="#"><i class="icon icon-facebook"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-twitter"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-youtube-play"></i></a>
									</li>
									<li>
										<a href="#"><i class="icon icon-behance-square"></i></a>
									</li>
								</ul>
							</div>
						</div>

					</div>
				</div><!--grid-->

			</div><!--footer-bottom-content-->
		</div>
	</div>
</div>

<script src="{% get_static_prefix %}Home/js/jquery-1.11.0.min.js"></script>
<script src="{% get_static_prefix %}Home/js/plugins.js"></script>
<script src="{% get_static_prefix %}Home/js/script.js"></script>

</body>
</html>	